/*************************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  cursor: default;
  position: relative;
  height: 41rem;
  background-color: #ba8759;
  text-align: center;
}

/*************************************************** title */
.title {
  display: flex;
  justify-content: space-evenly;
}

.title h1 {
  z-index: 1;
  color: #a81c07;
  position: absolute;
  top: 25%;
  font-size: 3rem;
}

@media (min-width: 800px) {
  .title h1 {
    font-size: 4rem;
  }
}

/*************************************************** curved */
.curved {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0;
  border-bottom-left-radius: 80% 20%;
  border-bottom-right-radius: 80% 20%;
  background: linear-gradient(180deg, #f4a460, #ffefd5);
}
