/*************************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 41rem;
  background-color: #ba8759;
  font-family: "Quicksand", sans-serif;
  cursor: default;
}

/*************************************************** title */
.title h1 {
  z-index: 1000;
  color: #a81c07;
}

/*************************************************** curved */
.curved {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0;
  background-color: #ffebcd;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  transform: scaleX(1.5);
  background: linear-gradient(180deg, #f4a460, #ffefd5);
}
