/*************************************************** custom defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  position: relative;
}

.top-half,
.bottom-half {
  background-color: #ffebcd;
  height: 50%;
  width: 100%;
  position: absolute;
}

.top-half {
  background-color: #ffebcd;
}

.bottom-half {
  background-color: #ba8759;
}
